<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MercadoLiebre</title>
    
        <!-- iconos -->
        <script src="https://kit.fontawesome.com/4c9feabc71.js"
        crossorigin="anonymous"></script>
    
        <!-- Link con CSS -->
        <link rel="stylesheet" href="/css/styles.css">
    
        <!-- Fuente Roboto -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    
        <!-- Viewport -->
        <meta name="viewport" content=
        "width=device-width, initial-scale=1.0"> 
    
    </head>
        <header>
            <div class="header1"> 
          <!-- Logo -->
          <div id="logo"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"></div>
    
          <!-- Barra de busqueda -->
          
          <div id="formBusqueda" action="#" method="GET">
            <input type="text" placeholder="Buscar productos, marcas, etc." id="input">
            <div id="lupa"><i class="fa-solid fa-magnifying-glass"></i></div>  
          </div>
    
          <!-- Comentario comprá... -->
          <div id="comentCompra">
            <p><i class="fa-solid fa-hand-holding-dollar"></i> 
            Comprá en cuotas y sin tarjeta de crédito</p></div>
          
            </div>
    
            <!-- Barras de navegacion -->
         <div class="header2">
          <div>
            <nav>
                <ul class="barraNav1">
                    <li> <a href="#">Ofertas</a></li>
                    <li> <a href="#">Tiendas Oficiales</a></li>
                    <li> <a href="#">Vender</a></li>
                    <li> <a href="#">Ayuda</a></li>
                </ul>
            </nav>
          </div>
    
    
        <nav>
            <ul class="barraNav2">
                <li> <a href="/register">Creá tu cuenta<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li> <a href="/login">Ingresá<i class="fa-solid fa-id-card"></i></a></li>
                <li> <a href="#">Mis Compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
         
        </div>
    
        <!-- Buger menu -->
        <div class="burger-menu">
            <i class="fas fa-bars"></i></div> 
            
        <!-- Banner -->
       <div id="banner"><img src="/images/img-home-banner.jpg" alt="Banner"></div>

        </header>
<body>
       

       
       <main class="login">
        <br>
        <h3>Ingresar</h3>
        <br>
        <form action="/" method="POST">
            <input type="text" name="user" placeholder="Nombre de usuario">
            <input type="password" name="pass" placeholder="Elegí tu contraseña">
            <input type="submit" value="Enviar" class="botonLogin">
        </form>
    </main>

</body>

<!-- FOOTER -->
<footer>
    <div class="footerParte1"><section>
        <div id="iconoFooter"><i class="fa-solid fa-credit-card"></i></div>
        <div id="tituloFooter"><h4>Pagá con tarjeta o en efectivo</h4></div>
        <div id="descriFooter"><h5>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o en efectivo en puntos de pago. ¡Y siempre es seguro!</h5></div>
     </section>
    
     <section>
        <div id="iconoFooter"><i class="fa-solid fa-gift"></i></div>
        <div id="tituloFooter"><h4>Envío gratis desde $2.500</h4></div>
        <div id="descriFooter"><h5>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</h5></div>
     </section>
    
     <section>
        <div id="iconoFooter"><i class="fa-solid fa-user-shield"></i></div>
        <div id="tituloFooter"><h4>Seguridad, de principio a fin</h4></div>
        <div id="descriFooter"><h5>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</h5></div>
     </section>
    </div>
      <BR>
     <section>
        <div id="descriFooter">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
        
     </section>
    </footer>
    </html>